
.w3-col{
    width: 10px;
    height: 10px;
}

#prinPar{
    width: 200px;
    
    position: relative;
    /* margin-left: 0%; */
    left: 0%;
    
}
/* 
#caja2{
    width: 200 px;
    position: absolute;
    top:50%;
    left: 35%;
} */

#btnIni{ /*no me funciona el color nose por que*/
    width: 130px;
    top: 703px;
    background: rgba(94, 139, 126, 0.65);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    color: black;
}

#enlace{
    width:50%;
    float: left;
    padding: 15px;
    color:blue;

}

.enlaceComp{
    display: flex;
    margin-left: 35%;
    margin-bottom: 10%;
    text-align: left;
}
#form{
    
    width: 650px;
    height: 450px;
    position:absolute;
    top: 50%;
    left: 30%;      /*esto lo mantiene en el centro*/
    transform: translate(-50%,-50%);
    
}
.alertas{
    color: red;
    font-size: 15px;
}
.titulForm{
    margin-top: 5%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#iconCor{
    float: left;
     /* position: absolute; */
    top: 40px;
    left: 370px; 
    width: 45px;
    height: 45px;
    font-size: 40px;
}