.fondoEst{
    background-color: #DFEEEA;  /*que es esto?*/
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 101.2%;
    margin: -0.6%;
    margin-top: -25px;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .inputPagEst{
    text-align: center;
    font-size: 20px;
    width: 80%;
    height: 3.5em;
    background: #FFFFFF;
    border: 1px solid #A88F8F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-sizing: border-box;

  }

  .contCursosEst{
    align-content: center;
    padding-left: 12em;
    padding-right: 12em;
  }
  
  .linkCursoEst{
    width: 100%;
    height: 100%;
    background-color: #A7C4BC;
   /* box-sizing: border-box; */
    border-radius: 10px;
    justify-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
  }
  
  .btnIconos{
    border:none;
    background-color: #DFEEEA;
    height: 5em;
    width: 5em;
  }

  .iconoBtn{
    height: 100%;
    width: 100%;
  }

  .buscador{
    width: 75%;
  }

  .txtOrden{
    width: 20%;
    text-align: right;
  }

  .iconoOrd{
    width: 5%;
  }


  .elementosLista{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #DFEEEA; /* Boton se camufla con fondo*/
    border:none;
    color: #004A52;
    padding: 0px;
    font-size: 1.5em;
    font-size: 18px;
    /* outline: inherit; */
    
    /*Cambio fred*/
    padding: 10px 0;  /*esto hace que la imagen ocupe todo el ancho*/
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .imagenCur{
    width: 25%;
  }
  .infoCur{
    width: 75%;
    text-align: left;
    font-size: 18px;
  }
  .tituloCurs{
    font-size: 24px;
  }

  #textMisCursos{
    font-size: 36px;
    color: #2F564B;
    font-weight: bold;
  }

  #txtOrdCursos{
    font-size: 24px;
    color: #5E8B7E;
  }