#TituloPrin{
    margin-top: 5%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}
/*El input de nombres y apellidos nas sus alertas*/
#logNomApe{
    width: 10%;
    float: left;
    padding: 15px;
    margin-left: 3%;
}
#campNombre{
    width: 35%;
    height: 10px;
    float: left;
    padding: 15px;
    border-radius: 10px;
}

#campApelli{
    width: 35%;
    height: 10px;
    float: left;
    padding: 15px;
    margin-left: 5%;
    border-radius: 10px;
}

#campNomApe{
    margin-top: 4%;
}

.alertsIzq{
    width: 35%;
    float: left;
    padding: 15px;
    color: red;
    font-size: 10px;
}

.alertsDere{
    margin-left: 3%;
    width: 35%;
    height: 10px;
    float: left;
    padding: 15px;
    color: red;
    font-size: 10px;
    
}

.alersCorreo{
    color: red;
    margin-left: 30%;
    font-size: 10px;
}

/*fin El input de nombres y apellidos nas sus alertas*/

/*El input de correo nas sus alertas*/
#campCorr{
    margin-top: 50px;
}

#campoCorreo{
    width: 90%;
    height: 10px;
    float: left;
    padding: 15px;   
    border-radius: 10px;
}

#logoCorreo{
    margin-left: 3%;
    width: 10%;
    height: 10px;
    float: left;
    padding: 15px;  
}

/* fin El input de nombres y apellidos nas sus alertas*/

/*El input de contrase;a y confirmarContrase;a nas sus alertas*/
#campContrasenias{
    margin-top: 50px;
}

#logoContras{
    margin-left: 3%;
    width: 10%;
    float: left;
    padding: 15px;

}

#campContras{
    width: 35%;
    height: 10px;
    float: left;
    padding: 15px;
    border-radius: 10px;

}

#campConfContr{
    width: 35%;
    height: 10px;
    float: left;
    margin-left: 5%;
    padding: 15px;
    border-radius: 10px;

}
/*El input de nombres y apellidos nas sus alertas*/


/*a revisar*/


#botonRegis{
    width: 110px; 
    top: 703px;
    background: rgba(94, 139, 126, 0.65);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 40%;
    
}

#enlace{
    width:50%;
    float: left;
    padding: 15px;
}

#letra{
    width: 50%;
    float: left;
    padding: 15px;
    color: #000000;
}
#form{

    margin-left: 20%;
    Width:761px;
    height: 50%;    
}



*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-webkit-box-sizing: border-box;
  }




  body{
    font-family: 'Roboto', sans-serif;
  }