#TituloPrin{
    margin-top: 5%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}
/*El input de nombres y apellidos nas sus alertas*/
#logNomApe{
    width: 10%;
    float: left;
    padding: 15px;
    margin-left: 3%;
    margin-top: 2%;
}
#campNombre{
    width: 245px;
    height: 15%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    margin-right: 10%;
    font-size: 14px;
}

#campApelli{
    width: 245px;
    height: 34px;
    float: left;
    padding: 15px;
    border-radius: 10px;
    margin-right: 20%;
    font-size: 14px;
}

#campNomApe{
    margin-top: 4%;
}

.contenierNomApe{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.alertsIzq{
    margin-right:15%;;
    position: static;
    color: red;
    font-size: 10px;
}

.alertsDere{ 
    color: red;
    font-size: 10px;    
}



/*fin El input de nombres y apellidos nas sus alertas*/

/*El input de correo nas sus alertas*/
#campCorr{
    margin-top: 50px;
}

#campoCorreo{
    margin-top: 5%;
    width: 90%;
    height: 26px;
    float: left;
    padding: 15px;   
    border-radius: 10px;
}

#logoCorreo{
    margin-top: 2%;
    margin-left: 3%;
    width: 10%;
    height: 10px;
    float: left;
    padding: 15px;  
}
.alersCorreo{
    color: red;
    margin-left: 30%;
    font-size: 10px;
}

/* fin El input de nombres y apellidos nas sus alertas*/

/*El input de contrase;a y confirmarContrase;a nas sus alertas*/
#campContrasenias{
    margin-top: 9%;

}

#logoContras{    
    margin-bottom: 10%;
    margin-left: 3%;
    width: 10%;
    float: left;
    padding: 15px;

}

/*El input de nombres y apellidos nas sus alertas*/
/*a revisar*/

#botonRegis{
    width: 200px; 
    height: 50px;
    background: rgba(94, 139, 126, 0.65);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    margin-left: 35%;
    
}

#enlace{
    width:50%;
    float: left;
    padding: 15px;
    color:blue;
}

.enlacePre{
    display: flex;
    margin-left: 35%;
    margin-bottom: 10%;
}


#form{
    margin-left: 20%;
    Width:761px;       
    margin-bottom: 6%; 
}

  body{
    font-family: 'Roboto', sans-serif;
  }