/*npm run webpack*/
/*npm run dev*/

/*Toda la parte del appBar, los colores, el titulo de la plataforma*/
.Bt-Wdemy{
  background-color:#2F5D62;
  border-color: #2F5D62;
  height: 55px;
  border:none;
}

.linkInial{
  color: inherit;
  text-decoration: inherit;
}

.titulo{
  color: white;
}

.appBar{
  height: 100px;
  margin-top: -1%;
  background-color: #2F5D62;
  margin-bottom: 25px;
}

/*La parte del body, fondo
  carrusel,descripcion, filtro.
*/
.fondo {
  background-image: url(./imagenes/chicaCompu.jpeg); 
  background-size: 100% 100%;
  margin-top: -5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 0;
} 

.fondoColor {
  background-color: #DFEEEA;
  background-attachment: fixed;
}

.vistaDescrip{
  width: 100%;
  height: 10%;
  opacity: 0.0;
}

.descripcion{
  width: 60%;
  height: 100px;
  margin-top: 5%;
  background-color: #DFEEEA;
  border-radius: 50px;
  margin-left: 14%;
  text-align: center;
  opacity: 0.5  ;
  font-family: Arial, Helvetica, sans-serif;
}
/*La parte de carrucel , filtro*/
.filtro{
  margin-left: 70%;
  margin-bottom: 1%;
  font-family: Arial, Helvetica, sans-serif;
}
/* revisar */
#elementosDelCarrusel {
  display: inline-table;
  justify-content: center;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  border-radius: 15px; /*elemento contenedor*/
  overflow: hidden;   /*esto deberia eliminar el scrollbar no funciona*/
}

.elementos-carrusel{
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 15px; /*elento color de relleno*/
  background-color:#2F5D62;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
  font-family: Arial; /*tipo de letra para curso*/
	cursor: pointer;
	outline: inherit;
  padding: 15px;
  overflow: hidden; /*est aumento para ver si cambia no cambia*/
}

.carruPrincial{
  display: grid;
  grid-template-columns: 0.09% 98% 0.1%;
  /*este es el contenedor principal?*/
}

.carruDere{
  margin-top: 180px;
  margin-left: -40px;
  padding: 15px;
  align-items: center;
}

.carruIzq{
  margin-top: 180px;
  
  align-items: center;
  
}

.carruMedio{
  opacity: 0.8;
  background-color: #DFEEEA;
  margin-left: 3%;
  border-radius: 20px;

  height: 100%;
  width: 95%;
  /**overflow: scroll;*/
  align-items: center;
  overflow: hidden; 
}
/* las flechas der*/
.Bt-Flecha{
  border:none;
  background-color: rgba(3, 3, 3, 0);
  width: 0; 
  height: 0; 
  border-left: 30px solid #5E8B7E;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  

}
/* las flechas izq*/
.Bt-Flecha1{
  border:none;
  background-color: rgba(3, 3, 3, 0);
  border-left: -100px;
  width: 0;
  height: 0;
  border-right: 30px solid #5E8B7E;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

}

#imagenCurso{
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
#imagenCursoRed{
  width: 250px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenedor{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.plataforma{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  size: 20px;
}

#nombreCurso{
  font-size: 45px;
  font-family: Arial;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.tituloCursos{
  font-size: 30px;
  font-family: Arial;  /*estoy cambiando el tipo de letra*/
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.infoCursos{
  font-family: Arial;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.contenidoCaja{
  font-size: 20px;
  font-family: Arial;
  background-color: #A7C4BC; 
  border-radius: 10px;
  width: 500px;
  padding: 15px;
}

#btnVolver{
  background-color: #2F5D62;
  font-size: 20px;
  color: #FFFFFF;
  position: absolute;
  right: 0px;
  margin-right: 50px;
  padding: 5px;
  border-radius: 10px;
}

.etiqueta{
  font-size: 15px;
  background-color: #5E8B7E; 
  color: #FFFFFF;
  border-radius: 5px;
  width: 85px;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modulo{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: #2F5D62; 
  color: #FFFFFF;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  height: 60px;
  background: #A7C4BC;
  text-align: center;
  border-radius: 15px;
}

.textoPopup{
  color: #000000;
  size: 16px;
}

.btnOk{
  background-color: #2F5D62;
  font-size: 14px;
  color: #FFFFFF;
  right: 0px;
  padding: 5px;
  border-radius: 5px;
}
