@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*npm run webpack*/
/*npm run dev*/

/*Toda la parte del appBar, los colores, el titulo de la plataforma*/


*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-webkit-box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}



.Bt-Wdemy{
  background-color:#2F5D62;
  border-color: #2F5D62;
  height: 55px;
  border:none;
}

.linkInial{
  color: inherit;
  text-decoration: inherit;
}

.titulo{
  color: white;
  font-size: 40px;
  
}

.appBar{
  height: 100px;
  margin-top: -1%;
  background-color: #2F5D62;
  margin-bottom: 25px;
}

/*La parte del body, fondo
  carrusel,descripcion, filtro.
*/
.fondo {
  background-image: url(./imagenes/chicaCompu.jpeg); 
  background-size: 100% 100%;
  margin-top: -5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 0;
  /*position:absolute;*/ /*la imagen se vuelve estatica pero no ocupar todo*/
} 

.fondoColor {
  background-color: #f4f3f6;  /*que es esto?*/
  background-attachment: fixed;
}

.vistaDescrip{
  width: 100%;
  height: 10%;
  opacity: 0.0;   /*esto es*/
}

.descripcion{  /*descripcion general*/
  width: 60%;
  height: 100px;
  margin-top: 5%;
  background-color: #DFEEEA;
  border-radius: 20px;
  margin-left: 14%;
  text-align: center;
  opacity: 0.5  ;
  font-family: Arial, Helvetica, sans-serif;
}
/*La parte de carrucel , filtro*/
.filtro{
  margin-left: 70%;
  margin-bottom: 1%;
  font-family: Arial, Helvetica, sans-serif;
}
/* revisar */
#elementosDelCarrusel {
  display: inline-table;
  justify-content: center;
  width: 250px;
  height: 350px;
  margin-left: 0.5%; /*espacio entre componentes*/
  margin-right: 0.5%;
  margin-bottom: 1%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
}

.elementos-carrusel{
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #2F5D62; /*#2F5D62 con solid se vueve blancos*/
  /*opacity: 100;*/
  color: white;
  border: solid 2px rgba(0,0,0, .2);
  padding: 0;
  /* font: inherit; */
  font-size: 18px;
  cursor: pointer;
  /* outline: inherit; */
  padding: 10px 0;  /*esto hace que la imagen ocupe todo el ancho*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.carruPrincial{
  display: grid;
  grid-template-columns: 0.09% 98% 0.1%;
  overflow: hidden; /*este es el contenedor principal?*/
}

.carruDere{
  margin-top: 180px;
  margin-left: -40px;
  padding: 15px;
  align-items: center;
}

.carruIzq{
  margin-top: 180px;
  
  align-items: center;
  
}

.carruMedio{
  opacity: 0.8;
  background-color: #DFEEEA;
  margin-left: 3%;
  border-radius: 20px;

  height: 100%;
  width: 95%;
  /**overflow: scroll;*/
  align-items: center;
  overflow: hidden; 
  align-content: center;
}
/* las flechas der*/
.Bt-Flecha{
  border:none;
  background-color: rgba(3, 3, 3, 0);
  width: 0; 
  height: 0; 
  border-left: 30px solid #5E8B7E;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  

}
/* las flechas izq*/
.Bt-Flecha1{
  border:none;
  background-color: rgba(3, 3, 3, 0);
  border-left: -100px;
  width: 0;
  height: 0;
  border-right: 30px solid #5E8B7E;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  
}
.fondoCurso{
  background-color:#DFEEEA;
}
#imagenCurso{  /*dentro del curso*/
  height: 450px;
  width: 100%; /*ocupa el 100 de ancho pero no reduce altura*/
  
  overflow:hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
#imagenCursoRed{ /*dentro del contedor*/
  width: 250px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
  /*padding: 10% 0;*/
}

.contenedor{ /*nose para que es esto*/
  display: grid; /*usado como cuadricula*/
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.plataforma{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  size: 20px;
}

#nombreCurso{
  font-size: 45px;
  font-family: Arial;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.tituloCursos{
  font-size: 30px;
  font-family: Arial;  /*estoy cambiando el tipo de letra*/
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.infoCursos{
  font-family: Arial;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.contenidoCaja{
  font-size: 20px;
  font-family: Arial;
  background-color: #A7C4BC; 
  border-radius: 10px;
  width: 500px;
  padding: 15px;
}

#btnVolver{
  background-color: #2F5D62;
  font-size: 20px;
  color: #FFFFFF;
  position: absolute;
  right: 0px;
  margin-right: 50px;
  padding: 5px;
  border-radius: 10px;
}

.etiqueta{
  font-size: 15px;
  background-color: #5E8B7E; 
  color: #FFFFFF;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modulo{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: #2F5D62; 
  color: #FFFFFF;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  height: 60px;
  background: #A7C4BC;
  text-align: center;
  border-radius: 15px;
}

.textoPopup{
  color: #000000;
  size: 16px;
}

.btnOk{
  background-color: #2F5D62;
  font-size: 14px;
  color: #FFFFFF;
  right: 0px;
  padding: 5px;
  border-radius: 5px;
}


/* Styles filtro curso*/
/* .filtro label{} */
.filtro input[type='text']{
  margin: 2px;
  padding: 5px 10px;
  border: solid 2px transparent;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0,0,0, .2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #DFEEEA;
}

.filtro input[type='text']:focus{
  border: solid 2px rgba(20, 143, 119, 1);
  outline: none;
}

/* .filtro input[type='submit']{} */
