@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*npm run webpack*/
/*npm run dev*/

/*Toda la parte del appBar, los colores, el titulo de la plataforma*/


*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-webkit-box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.Bt-Wdemy{
  background-color:#2F5D62;
  border-color: #2F5D62;
  height: 0px;
  border:none;
  

  position: absolute;
  color: white;
  left: 0px;
  width: 200px;
  
  font-size: 25px;
  padding: 10px;
}


.linkInial{
  color: inherit;
  text-decoration: inherit;
}

.linkAppBar{
  text-decoration:none;
  display: table-cell;
  vertical-align: middle;
  margin-left: 0.5em;
  margin-right: 2.5em;
  max-width: 9em;
}

.curseDescription{
  padding-block-start: 0.5cm;
  line-height: 1.8;
  /*margin-top: 20px;*/
}

.titulo{
  color: white;
  font-size: 40px;
}

.pestanaOp{
  color: white;
  font-size: 30px;
  text-align: center;
}

.appBar{
  height: 9em;
  width: 100%;
  background-color: #2F5D62;
  margin-top: -1.5em;
}

.pestanas{
  width: 78%;
  display: table-row;
}
.botones{
  width: 22%;
  margin-left: auto;
}

#listaUser{
  margin-left: 5em;
}

.btnIconAppBar{
  border: none;
  margin-left: 10em; /*para alinear a derecha*/
  background-color: #2F5D62;
  height: 5em;
  width: 5em;
  cursor: pointer;
}

/* estan correctamente acomadados.*/
.appBarDere{
  margin-left: 80%;
  display:flex;
}

.appBarIzq{
  margin-right: 20%;
  display:flex;
}

#ButtonRegister{
  border-radius: 10px;
  margin: 5px;
  background-color: #192d30;
  color: #FFFFFF;
}

#ButtonLogin{
  border-radius: 10px;
  margin: 5px;
  background-color: #192d30;
  color: #FFFFFF;
}

/*La parte del body, fondo
  carrusel,descripcion, filtro.
*/
.fondo {
  background-image: url(./imagenes/chicaCompu.jpeg); 
  background-size: 100% 100%;
  margin-top: -1.5%;
  margin-left: -1%;
  margin-right: -1%;
  margin-bottom: -1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 0;
  /*position:absolute;*/ /*la imagen se vuelve estatica pero no ocupar todo*/
} 

.fondoColor {
  background-color: #f4f3f6;  /*que es esto?*/
  background-attachment: fixed;
}

.vistaDescrip{
  width: 100%;
  height: 10%;
  opacity: 0.0;   /*esto es*/
}

.BodyPart{
  padding-left: 10em;
  padding-right: 10em;  
}

.descripcion{  /*descripcion general*/
  width: 60%;
  height: 120px;
  background-color: #DFEEEA;
  border-radius: 20px;
  text-align: center;
  opacity: 0.8 ;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#tituloCursPlat{
  color: #000000;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  
}
/*La parte de carrucel , filtro*/
.filtro{
  margin-left: 70%;
  margin-bottom: 1%;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
/* revisar */
#elementosDelCarrusel {
  display: inline-table;
  /*justify-content: center;*/
  width: 280px;
  height: 370px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  display: inline-block;
  /*overflow: hidden;*/
}

.elementos-carrusel{
  justify-content: center;
  display: inline-table;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #DFEEEA; /* Boton se camufla con fondo*/
  border:none;
  color: white;
  padding: 0px;
  font-size: 1.5em;
  font-size: 18px;
  /* outline: inherit; */
  
  /*Cambio fred*/
  padding: 10px 0;  /*esto hace que la imagen ocupe todo el ancho*/
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.linkCurso{ /* Conserva la apariencia del boton pero ahora original para evitar bug de bordes*/
  width: 100%;
  height: 100%;
  background-color: #2F5D62; 
  border: solid 2px rgba(0,0,0, .2);
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0px;
}
.infoBtnCurso{
  margin: auto;
}

.carruPrincial{
  display: grid;
  grid-template-columns: 0.09% 98% 0.1%;
  width: 100%;
  height: 400px;
  /*este es el contenedor principal?*/
}

.carruDere{
  z-index: 2;
  margin-top: 180px;
  margin-left: -60px;
  align-items: center;
  
}

.carruIzq{
  z-index: 2;
  margin-top: 180px;
  margin-left: 20px;
  align-items: center;
  
}

.carruMedio{
  z-index: 1;
  background-color: #DFEEEA;
  margin-left: 3%;
  border-radius: 20px;

  height: 100%;
  width: 95%;
  /**overflow: scroll;*/
  align-items: center;
  overflow: hidden; 
  align-content: center;
  text-align: center;
}


/* las flechas der*/
.Bt-Flecha{
  border:none;
  background-color: rgba(247, 241, 241, 0);
  width: 0; 
  height: 0; 
  border-left: 30px solid #5E8B7F;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  cursor: pointer;
}
/* las flechas izq*/
.Bt-Flecha1{
  border:none;
  background-color: rgba(3, 3, 3, 0);
  border-left: -100px;
  width: 0;
  height: 0;
  border-right: 30px solid #5E8B7F;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  cursor: pointer;
}
.fondoCurso{
  background-color:#DFEEEA;
  background-size: 100% 100%;
  margin-top: -0.5%;
  margin-left: -1%;
  margin-right: -1%;
  margin-bottom: -1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 0;
}
#imagenCurso{  /*dentro del curso*/
   /*ocupa el 100 de ancho pero no reduce altura*/
   height: 400px;
   width: 100%;
   object-fit: cover;  /*soluciona todo*/
  background-size: cover;
  overflow:hidden;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding: 0%;
}

#imagenCursoRed{ /*dentro del contedor*/
  width: 250px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-inline: auto;
  /*padding: 10% 0;*/
}

#contenedorNoEnc{
  align-items: center;
  align-content: center;
  margin:auto;
  text-align:center;
  vertical-align: middle;
}
.contenedor{ /*nose para que es esto*/
  display: grid; /*usado como cuadricula*/
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.plataforma{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  size: 30px;
  margin-left: 6%;
  margin-top: 4%;
  font-size: 1.4em;
}

#nombreCurso{
  font-size: 45px;
  -webkit-text-stroke: 1px black;
  font-family: Arial;
  color: white;
  position: absolute;
  top:65%;
}

.tituloCursos{
  font-size: 30px;
  font-family: Arial;  /*estoy cambiando el tipo de letra*/
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  
}

.contEtiquetas{
  align-items: middle;
  overflow: hidden; 
  align-content: left;
}

.infoCursos{
  font-family: Arial;
  font-size: 28px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contenidoCaja{
  font-size: 20px;
  font-family: Arial;
  background-color: #A7C4BC; 
  border-radius: 10px;
  width: 500px;
  padding: 15px;
}

#btnVolver{
  background-color: #2F5D62;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  right: 0px;
  margin-right: 50px;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top:67%;
}

.etiqueta{
  font-size: 15px;
  background-color: #5E8B7E; 
  color: #FFFFFF;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
  display: inline-table;
  justify-content: center;

}

.modulo{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: #2F5D62; 
  color: #FFFFFF;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 3;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  height: 60px;
  background: #A7C4BC;
  text-align: center;
  border-radius: 15px;
}

.textoPopup{
  color: #000000;
  size: 16px;
}

.btnOk{
  background-color: #2F5D62;
  font-size: 14px;
  color: #FFFFFF;
  right: 0px;
  padding: 5px;
  border-radius: 5px;
}


/* Styles filtro curso*/
/* .filtro label{} */
.filtro input[type='text']{
  margin: 2px;
  padding: 5px 10px;
  border: solid 2px transparent;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0,0,0, .2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #DFEEEA;
}

.filtro input[type='text']:focus{
  border: solid 2px rgba(20, 143, 119, 1);
  outline: none;
}






/* .filtro input[type='submit']{} */
