/*npm run webpack*/
/*npm run dev*/

/*Toda la parte del appBar, los colores, el titulo de la plataforma*/
.Bt-Wdemy{
  background-color:#2F5D62;
  border-color: #2F5D62;
  height: 55px;
  border:none;
}

.linkInial{
  color: inherit;
  text-decoration: inherit;
}

.titulo{
  color: white;
}

.appBar{
  height: 100px;
  margin-top: -1%;
  background-color: #2F5D62;
  margin-bottom: 25px;
}

/*La parte del body, fondo
  carrusel,descripcion, filtro.
*/
.fondo {
  background-image: url(./imagenes/chicaCompu.jpeg); 
  background-size: 100% 100%;
  margin-top: -5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
} 

.fondoColor {
  background-color: #DFEEEA;
  background-attachment: fixed;
}

.vistaDescrip{
  width: 100%;
  height: 10%;
  opacity: 0.0;
}

.descripcion{
  width: 60%;
  height: 100px;
  margin-top: 5%;
  background-color: #DFEEEA;
  border-radius: 50px;
  margin-left: 14%;
  text-align: center;
  opacity: 0.5  ;
  
}
/*La parte de carrucel , filtro*/
.filtro{
  margin-left: 70%;
  margin-bottom: 1%;
}
/* revisar */
#elementosDelCarrusel {
  display:inline-table;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
  border-radius: 25px;
}

.elementos-carrusel{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color:#2F5D62;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 15px;
}

.carruPrincial{
  display: grid;
  grid-template-columns: 0.09% 98% 0.1%;
}

.carruDere{
  margin-top: 180px;
  margin-left: -15px;
  padding: 15px;
  align-items: center;
}

.carruIzq{
  margin-top: 180px;
  margin-left: 1%;
}

.carruMedio{
  opacity: 0.8;
  background-color: #DFEEEA;
  margin-left: 3%;
  border-radius: 20px;
  height: 100%;
  width: 95%;
  overflow: scroll;
  align-items: center;
}

.Bt-Flecha{
  border:none;
  background-color: rgba(3, 3, 3, 0);;
}

#imagenCurso{
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
#imagenCursoRed{
  width: 250px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenedor{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#nombreCurso{
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.tituloCursos{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.infoCursos{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}

.contenidoCaja{
  font-size: 20px;
  background-color: #A7C4BC; 
  border-radius: 10px;
  width: 500px;
  padding: 15px;
}

#btnVolver{
  background-color: #2F5D62;
  font-size: 20px;
  color: #FFFFFF;
  position: absolute;
  right: 0px;
  margin-right: 50px;
  padding: 5px;
  border-radius: 10px;
}

.etiqueta{
  font-size: 15px;
  background-color: #5E8B7E; 
  color: #FFFFFF;
  border-radius: 5px;
  width: 85px;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modulo{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: #2F5D62; 
  color: #FFFFFF;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}